html, body {
    background-color: #fff;
    color: #000;
    margin: 0;
}

footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

nav {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited {
    color: #343c82;
}
